.row {
	display:flex; 
	flex-wrap:wrap;

}

body{
	background: url('images/resultspage-min.jpg') no-repeat center fixed;
	background-size: cover;
	background-position: center;
	font-family: Lato, sans-serif;
	padding-top: 70px; 	
}
h1{
	
	font-size: 60px;
}

#addRecipieNumber{
	margin-bottom:25px;
	color:white;
}



.right{
	margin-left: 5px;
	display: flex;
    align-items: flex-start;
}

.ingredientLabels {
	padding-left: 3px;
}
.time{
	color: black;
}
.ingrediants{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container{
	color: white;
	
}

span:after {
    content: '\A';
}

#check{
	border:0;
}


#check:checked + label {
    color: blue;
}


.navbar  a:hover {
						color: rgba(100,98,102, 0.25) !important;
					}